/* I downloaded Sentient and Switzer from Fontshare and followed
the font package instructions to import their stylesheets into my main CSS. */

/* Based on the feedback, I checked the Fontshare license for Sentient and Switzer. The license allows the font files to be self-hosted for use on my own website, including through CSS @font-face. */
/* https://www.fontshare.com/licenses/itf-free-font-license */

@import url('sentient.css');
@import url('switzer.css');
/* I wanted to use the typefaces shown in the book for each type classification. Since Sabon, Futura, and Bodoni...etc. were easier to find on Adobe Fonts, I added them to an Adobe Fonts web project and imported the project link here. */
@import url("https://use.typekit.net/jig8obp.css");


/* My styles start below. */

/* TODO: Work on the variations and calculations later.
Also think about better organization and whether there is a better way to nest the code. */

:root {
	/* Color */
	--color-pr: mediumblue;
	--color-res: salmon;
	--color-bg: cornsilk;
	--color-accent1: orangered;
	--color-accent2: lightsalmon;
	--color-accent3: cornflowerblue;

	/* Font */
	--font-serif: 'Sentient', serif;
	--font-sans: 'Switzer', sans-serif;

	/* Size */
	--size-xs: calc(var(--size-sm) / 2); /* 0.5rem */
	--size-sm: 1rem;
	--size-md: 2rem;
	--size-lg: 3rem;
	--size-xl: calc(2 * var(--size-md)); /* 4rem */
	--size-2xl: calc(3 * var(--size-md)); /* 6rem */
	--size-3xl: calc(5 * var(--size-md)); /* 10rem */

	margin-block: var(--size-2xl);
	margin-inline: var(--size-3xl);
}

* + * {
	margin-block-start: var(--size-sm);
}


h2 {
	font-family: var(--font-serif);
	font-weight: 500;
	font-style: normal;
	font-size: 1.8rem;
	letter-spacing: 0.2rem;
}

h4 {
	font-family: var(--font-sans);
	font-weight: 700;
	font-style: normal;
	font-size: 1rem;
	letter-spacing: 0.1rem;
}

h3, summary {
	font-family: var(--font-serif);
	font-weight: 500;
	font-style: normal;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
}


a[href*='.pdf']{
	font-weight: 500;
	text-decoration-line: underline;
	&::after { content: ' »'; }
	&:hover { color: var(--color-res); }
}


body {
	background-color: var(--color-bg);
	color: var(--color-pr);
	font-family: var(--font-serif);
	font-weight: 300;
	font-style: normal;
	font-size: calc(1.2 * var(--size-sm));
	line-height: 1.8;

	hgroup {
		font-family: 'Sentient', serif;
		font-weight: 400;
		font-style: normal;
		font-size: 1.4rem;
		line-height: 1;
	}

	header p {
		line-height: 1;
	}

	nav {
		font-size: 0.9rem;
		line-height: 1;
		margin-block-start: 4rem;
		margin-block-end: 6rem;

		/* I want to indent the navigation list, so I searched on MDN for how to do it. */
		/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/text-indent */

		/* I originally added the same class to every nested navigation item. Based on the feedback, I realized I could use the nested HTML structure as the CSS selector instead. */
		/* ul ul li means an li that is inside a ul nested within another ul. */

		ul ul li {
			text-indent: 1.5em;

			&::before {
				content: '»';
				margin-inline-end: 0.5em;
			}
		}

		/* Spacing between two navigation groups */
		 ul ul {
			margin-block-start: 1rem;
			margin-block-end: 2rem;
		}
	}

	h2, h3, h4 {
		line-height: 0.4;
	}

	section {
		padding-block: 1rem;
		margin-block-end: 2rem;
	}

	summary {
		cursor: pointer;
		list-style: none;
		&::before { content: ' +'; margin-inline-end: 0.5em; }
	}

	footer {
		border-block-start: 0.1rem solid mediumblue;
		padding-block-start: 1rem;
	}
}

main {
	a {
		font-style: 'Switzer', sans-serif;
		font-weight: 400;
		font-style: italic;
		color: orangered;
		background-color: lightsalmon;
		padding-inline: 0.2rem;
		&:hover { color: mediumblue;background-color: cornflowerblue; }
	}

	aside {
		font-family: 'Switzer', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 0.9rem;
		color: salmon;

		q {
			font-style: italic;
		}
	}

	aside, dl {
		margin-block: 4rem;
		min-inline-size: 40rem; /* use ch, character numbers */
		margin-inline-start: 20rem;
		margin-inline-end: 10rem;
	}

	blockquote {
		font-family: 'Sentient', serif;
		font-weight: 400;
		font-style: normal;
		font-size: 1.8rem;
		line-height: 1.4;
	}
}



/* All .class selectors below here. */

/* Header class */
/* I used 90vh because I wanted people to see the almost full cover when they first open the website. */
.hero {
    position: relative;
    min-block-size: 90vh;
}
/* I used position: absolute to freely arrange the type and quotation marks
and make the typography work more like an image. */
.hero hgroup {
    position: absolute;
    inset-inline-start: 11rem;
	inset-block-start: 3.5rem;

	h1 {
		font-family: 'Switzer', sans-serif;
		font-weight: 400;
		font-size: 2.6rem;
		line-height: 0.9;
	}
	span {
		font-family: 'Switzer', sans-serif;
		font-weight: 700;
		font-size: 18rem;
	}
}
.book-info {
    position: absolute;
    inset-inline-start: 39rem;
    inset-block-start: 22rem;
    font-family: 'Switzer', sans-serif;
	font-weight: 400;
    font-size: 1rem;
    line-height: 0.8;
}
.hero::before {
    content: ' “';
    position: absolute;
    inset-inline-start: -15rem;
    inset-block-start: -12rem;
    font-family: 'Switzer', serif;
	font-weight: 700;
    font-size: 38rem;
    line-height: 1;
}
.hero::after {
    content: ' ”';
    position: absolute;
    inset-inline-start: 41rem;
    inset-block-start: 16rem;
    font-family: 'Switzer', serif;
	font-weight: 700;
    font-size: 38rem;
    line-height: 1;
}

/* <em> class */
.humanist {
	font-family: 'linotype-sabon', serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.05rem;
}
.transitional {
	font-family: 'berthold-baskerville-pro', serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1rem;
}
.modern {
	font-family: 'bodoni-std', serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.1rem;
}
.geometric {
	font-family: 'futura-pt', sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 1.05rem;
}

/* classification class */
.classification dd {
	font-family: 'Switzer', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.6rem;
	letter-spacing: 0.1rem;
	margin-block: -1.2rem;

}
.class-humanist {
	font-family: 'linotype-sabon', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3.2rem;
}
.class-transitional {
	font-family: 'berthold-baskerville-pro', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3rem;
}
.class-modern {
	font-family: 'bodoni-std', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3.2rem;
}
.class-slab-serif {
	font-family: 'clarendon-urw', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3.2rem;
}
.class-humanist-sans {
	font-family: 'gill-sans-nova', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3.2rem;
}.class-transitional-sans {
	font-family: 'helvetica-lt-pro', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3rem;
}
.class-geometric-sans {
	font-family: 'futura-pt', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3.2rem;
}

/* Appendix class */
.typeface-credit {
	line-height: 0.8;
    margin-block-end: 2rem;

	dt {
		margin-block-start: 2rem;
	}
	a {
		font-family: 'Sentient', serif;
		font-weight: 400;
		font-style: normal;
		text-decoration-line: underline;
		&::after { content: ' »'; }
		&:hover { color: salmon }
	}

}
