html {
	font-family: "source-serif-4", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2rem;
	line-height: 1.8;
}

* * * {
	margin-block-start: 1rem;
}


h1, h4 {
	font-family: "helvetica-neue-lt-pro", sans-serif;
	font-weight: 600;
	font-style: normal;
}

h1 {
	font-size: 8rem;
	padding-bottom: 3rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1rem;
}

a[href*='.pdf']{
	text-decoration-line: underline;
	&::after { content: ' ↗'; }
}


body {
	padding: 3rem;
	background-color: cornsilk;
	color: mediumblue;



	hgroup {
		font-size: 1.4rem;
		line-height: 1;
		padding-top: 1rem;
	}

	nav {
		font-size: 0.8rem;
		line-height: 1;
		padding-top: 2rem;
		padding-bottom: 3rem;
	}

	h2, h3, h4 {
		line-height: 0.4;
	}

	section {
		padding-bottom: 2rem;
	}

}

main {
	a {
		font-style: italic;
		color: orangered;
		background-color: lightsalmon;
		padding-left: 0.2rem;
		padding-right: 0.2rem;
		&:hover { color: mediumblue;background-color: cornflowerblue; }
	}

	aside {
		font-family: "helvetica-neue-lt-pro", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 0.9rem;
		color: salmon;
		padding-left: 8rem;
		padding-right: 8rem;
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	blockquote {
		font-size: 1.8rem;
	}
}

/* All .class selectors below here. */

/* I want to indent the navigation list, so I searched on MDN for how to do it. */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/text-indent */

.indent-nav {
	text-indent: 1em;
	&::before { content: ' →'; }
}
.humanist {
	font-family: "linotype-sabon", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.05rem;
}
.transitional {
	font-family: "berthold-baskerville-pro", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1rem;
}
.modern {
	font-family: "bodoni-std", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.1rem;
}
.geometric {
	font-family: "futura-pt", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.05rem;
}

